<div>
    <rate-structure></rate-structure>
    <hello-world></hello-world>
</div>

<!--Add Vue.js Component Templates & Code -->
@section Components
{ 
    <partial name="Components/Rates/Rate-Structure" />
    <partial name="Components/HelloWorld/hello-world" />
}


