@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <hello-world></hello-world>

</div>

<!--Add Vue.js Component Templates & Code -->
@section Components
{ 
    <partial name="Components/hello-world" />
}