<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - vuejs-mvc-razor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">vuejs-mvc-razor</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid" id="app">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container"></div>
    </footer>
    
    <!--vue3-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.11/vue.global.js"></script>

    <!--Axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!--rxjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.4.0/Rx.js" integrity="sha512-Z52EL9J+j7a7VB/NpbOeFhXrek58XaDXTBMVFW4Bgf6LZ7FZYvmpjY9e0WOaSsFxvU3U0+UcwpRwGPViJbQgCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">

        // rxjs
        const { range, Observable } = Rx;
        const { map, filter, take, tap, of, from, fromEvent, concat, ajax } = Rx.Observable;

        // minimal vue3 app startup
        const { createApp } = Vue;

        // create vu3 app
        const app = createApp({});

        // setup shared methods - https://v3.vuejs.org/guide/migration/filters.html#migration-strategy
        app.config.globalProperties.$filters = {
            currencyUSD(value, precision) {
                return '$' + value.toLocaleString('en-US', {
                    minimumFractionDigits: precision,
                    maximumFractionDigits: precision
                });
            },
            percent(value, precision) {
                return (value * 100).toLocaleString('en-US', {
                    minimumFractionDigits: precision,
                    maximumFractionDigits: precision
                }) + '%';
            }
        };
    </script>
            
    @await RenderSectionAsync("Components", required: false)
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        // mount view app after components have been rendered
        app.mount('#app');
    </script>

</body>
</html>
