<template id="rate-price-list-template">

    <div class="card">
        <div class="card-header">
            {{container.rate.name}} <a v-on:click="deleteRate(container)" href="#">Delete</a>

            <div class="float-right">
                <span class="badge badge-primary" style="margin-right:5px;" v-for="channel in container.rate.channels">{{channel}}</span>
            </div>
            <div>
                <div class="float-right">
                    <span class="badge badge-info" style="margin-right:5px;" v-for="time in container.rate.times">{{time}}</span>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-sm table-striped table-sm" style="margin:0; padding:0;">
            <thead>
                <tr>
                    <td>Item</td>
                    <td>Net</td>
                    <td>Markup</td>
                    <td>Tax</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in container.items">
                    <td>{{item.item.name}}</td>
                    <td><input type="text" class="form-control" v-model="item.price.net"></td>
                    <td><input type="text" class="form-control" v-model="item.price.markup"></td>
                    <td><input type="text" class="form-control" v-model="item.price.tax"></td>
                </tr>
                @*<tr v-for="item in context.data.items">
                    <td>{{item.name}}</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                </tr>*@
            </tbody>
        </table>
    </div>

</template>

<script>
    app.component('rate-price-list', {
        template: '#rate-price-list-template',
        props: ['price', 'container', 'context'],
        data: function () { return {}; },
        methods:
        {
            deleteRate(item) {
                this.price.rates.splice(this.price.rates.indexOf(item), 1);
            },
        },
        created() { },
        mounted() { },
    });
</script>