<template id="rate-edit-template">

    <div class="card">
        <div class="card-header">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Rate Name" v-model="rate.name">
              <div class="input-group-append">
                  <a v-on:click="deleteRate(rate)" href="#" class="input-group-text">Delete</a>
              </div>
            </div>
        </div>
        <div class="card-body">

            <form>
                <div class="form-group">
                    @*<label for="exampleFormControlInput1">Channels:</label>*@
                    <div class="form-group">
                        <template v-for="channel in context.data.channels">
                            <div class="form-check form-check-inline">

                                <label class="form-check-label">
                                <input type="checkbox"
                                       class="form-check-input"
                                       :id="channel.name"
                                       :value="channel.name"
                                       v-model="rate.channels">{{channel.name}}</label>
                            </div>
                        </template>
                    </div>
                </div>


                <div class="form-group">
                    @*<label for="exampleFormControlInput1">Times:</label>*@
                    <div class="form-group">
                        <template v-for="time in context.data.times">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                <input type="checkbox"
                                       class="form-check-input"
                                       :id="time.name"
                                       :value="time.name"
                                       v-model="rate.times">{{time.name}}</label>
                            </div>
                        </template>
                    </div>
                </div>
                               

                @*<div class="form-group">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Example multiple select</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>*@
            </form>
                        
        </div>
    </div>

</template>


<script>
    app.component('rate-edit', {
        template: '#rate-edit-template',
        props: ['context', 'rate'],
        data: function () {
        },
        methods: {
            deleteRate(item)
            {
                this.context.data.rates.splice(this.context.data.rates.indexOf(item), 1);
            }
        },
        created() { },
        mounted() { },
    });
</script>