<template id="inventory-rates-template">

    <table class="table table-bordered table-sm table-striped table-sm" style="margin:0; padding:0;">
        <thead>
            <tr>
                <td>Item</td>
                <td>Rate</td>
                <td>Net</td>
                <td>Sell</td>
                <td>Markup</td>
                <td>Filter</td>
            </tr>
        </thead>
        <tbody>
            <template v-for="rate in items">
                <tr v-for="item in rates">
                    <td>{{rate.name}}</td>
                    <td>{{item.name}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </template>
        </tbody>
    </table>

</template>

<!--Register Sub-Components-->
<!--<partial name="Components/HelloWorld/hello-world-left" />
<partial name="Components/HelloWorld/hello-world-right" />
<partial name="Components/HelloWorld/hello-world-center" />-->

<script>
    app.component('inventory-rates', {
        template: '#inventory-rates-template',
        props: ['rates', 'items'],
        data: function () {
            return {
                name: 'Rate Structure Component',
                context: {},
            };
        },
        methods: {},
        created() { },
        mounted() { },
    });
</script>